/*

#######################################################
              Hipper Studio CSS Diagnostics
#######################################################

  ___________
  Information

  * Version: 1.0
  * Lines Number: 94
  * Creation Date: 03/02/2017
  * Last modification: 03/02/2017
  * Last revision: 03/02/2017
  * Creator: Marco Maza
  * License: GNU License and MIT License

  __________
  Change Log

  * Version     Date            Short Description
  *
  * 1.0         03/02/2017      Creation date

  _____
  Notes

  * This file includes some CSS diagnostics from:
  *
  * 1) CSS-Tricks | https://css-tricks.com/
  * 2) Hongkiat | http://www.hongkiat.com/blog/css-snippets-for-designers/
  *
  * Thanks to all the people for letting me create this diagnostics sheet!
  *
  * If for some reason something is not longer under a public license
  * please let me know by writing at hello@hipperstudio.com

  _____
  Index

  * Empty Elements
  * Empty Attributes
  * Deprecated Elements
  * Deprecated Attributes
  * Proposed Deprecated Elements
  * Proposed Deprecated Attributes

=======================================================
                    CSS Diagnostics
=======================================================

Empty Elements

div:empty, span:empty, li:empty, p:empty, td:empty, th:empty {
  padding: 20px; border: 5px dotted yellow !important;
}

Empty Attributes

*[alt=""], *[title=""], *[class=""], *[id=""], a[href=""], a[href="#"] {
  border: 5px solid yellow !important;
}

Deprecated Elements

applet, basefont, center, dir, font, isindex, menu, s, strike, u {
  border: 5px dotted red !important;
}

Deprecated Attributes

*[background], *[bgcolor], *[clear], *[color], *[compact], *[noshade], *[nowrap], *[size], *[start],
*[bottommargin], *[leftmargin], *[rightmargin], *[topmargin], *[marginheight], *[marginwidth], *[alink], *[link], *[text], *[vlink],
*[align], *[valign],
*[hspace], *[vspace],
*[height], *[width],
ul[type], ol[type], li[type] {
  border: 5px solid red !important;
}

Proposed Deprecated Elements

input[type="button"], big, tt {
  border: 5px dotted #33FF00 !important;
}

Proposed Deprecated Attributes

*[border], a[target], table[cellpadding], table[cellspacing], *[name] {
  border: 5px solid #33FF00 !important;
}

*/
